<h1>Now you are logged in as <%=current_user.username%></h1>

<h2>Event Wall</h2>
<a href="/upcoming">Your upcoming events</a><br>
<a href="/events/new">Create a new event</a><br>
<br><hr><hr>

<% @events.each do |e| %>
<b><%= e.title %></b><br><br>
Date: <%= e.date %><br>
Description: <%= e.description %><br>
<a href="/events/<%=e.id%>">View</a>
<a href="/events/<%=e.id%>/edit">Edit</a><br>
<hr><br>
<% end %>

