<div>
    <h2 class="center-align pink-text">HELLO <%=current_user.username.upcase%></h2>
</div>

<h3>EVENT WALL</h3>
<a class="btn pink waves-effect waves-light" href="/upcoming">
Your upcoming events
<i class="material-icons right white-text">spa</i>
</a> 
<a class="btn pink waves-effect waves-light" href="/events/new">
Create a new event
<i class="material-icons right white-text">add_circle_outline</i>
</a><br>
<br>

<div class="row">
    <% @events.each do |e| %>
        <div class="col l4 z-depth-2">
            <b><%= e.title.upcase %></b><br><br>
            <b>Date:</b> <%= e.date %><br>
            <p class="truncate"><b>Description:</b><br><%= e.description %><p><br>
            <a class="btn-small pink waves-effect waves-light" href="/events/<%=e.id%>">View</a>
            <a class="btn-small pink waves-effect waves-light" href="/events/<%=e.id%>/edit">Edit</a><br>
            <br>
        </div>
    <% end %>
</div>